@inherits LayoutComponentBase

<PageTitle>Blog.Server</PageTitle>

<MudThemeProvider Theme="_currentTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<div>
    <MudLayout>
        <NavMenu />
        <MudMainContent>
            <MudContainer>
                @Body
            </MudContainer>
        </MudMainContent>

        <MudAppBar Elevation="1" Style="color:#E5E4E2;background-color: #494d50;top:auto;bottom: 0;" Dense="true" Fixed="true">
            <MudGrid Justify="Justify.Center">
                <MudText Style="font-size: medium">
                    © 2023 Copyright:
                    <a class="text-reset fw-bold" href="#">Group 7</a>
                </MudText>
            </MudGrid>
        </MudAppBar>
    </MudLayout>
</div>

@code {

    private MudTheme _currentTheme = new MudTheme()
        {
            Palette = new Palette
            {
                AppbarBackground = "#71797E",
            },
        };
}